{% extends 'global/base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
    <div class="main-content center container">
        <h2>Login</h2>
        <p><a class="plaintext-button" href="{% url 'users:register' %}">Click here</a> to register a new user</p>
        {% include 'templates/app/partials/login_message.html' %}
    </div>
    {% include 'templates/app/partials/messages.html' %}
    {% if not user.is_authenticated %}
        {% include 'templates/app/partials/form.html' %}
    {% endif %}
{% endblock content %}