<div class="content content-list-item">
    <div class="content-title-container">
        {% if is_detail_view is not True %}
            <div class="content-title-container">
                <h2 class="content-title">
                    <a href="{% url 'app:content' content.id%}">{{ content.vehicle }}</a>
                </h2>
            </div>
        {% endif %}
    </div>
    {% if is_detail_view is not True %}
        <footer class="content-footer">
            <a class="content-read-more button button-dark button-full-width" href="{% url 'app:content' content.id %}">
                <i class="fas fa-eye"></i>
                <span>See more...</span>
            </a>
        </footer>
    {% endif %}
    {% if is_detail_view is True %}
        <div class="main-information">
            <ul>
                <li>Owner: {{ content.owner }}</li>
                <li>Vehicle: {{ content.vehicle }}</li>
                <li>Kilometer: {{ content.km_vehicle }}</li>
                <li>Date: {{ content.date }}</li>
                <li>Next date:{{ content.next_date }}</li>
                <li>Services value: {{ content.full_value }}</li>
            </ul>
        </div>
        <div class="main-content padding">
            <a class="content-list back" href="{% url 'app:home' %}"><i class="fas fa-backward"></i> return</a>
        </div> 
        <div class="main-content padding_2">
            <a class="content-list back" href="{% url 'app:send_email' content.id%}"> Send e-mail</a>
        </div>
    {% endif %}
</div>