{% if request.user.is_authenticated %}
    <div class="login-message">
        You are logged with {{ request.user.username }}
        <form class="inline-form" action="{% url 'users:logout' %}" method="POST">
            {% csrf_token %}
            <input type="hidden", name="username" value="{{ request.user.username }}">
            <button class="plaintext-button" type="submit">click here</button>
        </form> to logout.
    </div><br>
    <div>
        <h2><a class="plaintext-button" href="{% url 'app:home' %}">Go to home</a></h2>
    </div>
{% endif %}