<button class="button-show-menu button-show-menu-visible">
    <i class="fas fa-bars"></i>
    <span class="hidden-text">Show menu</span>
  </button>
  
  <div class="menu-container menu-hidden">
    <button class="button-close-menu button-close-menu-visible">
      <i class="fas fa-times-circle"></i>
      <span class="hidden-text">Close menu</span>
    </button>
  
    <div class="menu-content">
      <nav class="menu-nav">        
        <a href="{% url 'users:login_user' %}">Home</a>
        <a href="{% url 'app:home' %}">Maintenances</a>
        <a href="{% url 'users:register' %}">New User</a>
        <a href="{% url 'users:dashboard_maintenance_new' %}">New maintenance</a>
        <a href="">About Us</a>
      </nav>
    </div>
  </div>
